<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" style="height: 100vh;">
  <div class="content">

    <h1>Inspire Work Project 1: Multi theme app</h1>


    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <div class="box">
        <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
      </div>
      <div class="box">
        <button mat-fab disabled aria-label="Example icon button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
      <div class="box">
        <button mat-mini-fab aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="box">
        <button mat-fab aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>




    </div>





     
    
      <h2>Pick your theme</h2>
      <mat-divider></mat-divider>
      <mat-radio-group
        (change)="toggleTheme()"
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="favoriteColor">
        @for (col of myColors; track col) {
          <mat-radio-button  class="example-radio-button" 
          [value]="col.value">{{col.viewValue}}</mat-radio-button>
        }
      </mat-radio-group>
    
    
  

  </div>
</div>